@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
	width:auto;
}

/* end */

/* Tema della pagina*/

header {
	min-height:230px;
  margin-bottom:5px;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
      position: static;
  }
  
  #sidebar.affix {
      position: fixed;
      top: 0;
      width:21.2%;
  }
}

.affix,.affix-top {
   position:static;
}

/* theme */

body {
  color:#828282; /*colore delle scritte secondarie grigio siderale*/
  background-color:#eee; /* colore dello sfondo generale bianco sfumato*/
  /*overflow: hidden;*/
}

a,a:hover {
	color:#4169E1;
  	text-decoration:none;
}

.highlight-bk {
	background-color:#4169E1; /*fa parte del tema custom, se lo modifico non cambia nulla nella pagina apparentemente...*/
    padding:1px;
    width:100%;
}

.highlight {
	color:#4169E1; /*colore del titolo azioni */
}
  
h3.highlight  {
	padding-top:13px;
  padding-bottom:14px;
  border-bottom:2px solid #4169E1;
}

/*Istruzione per aggiustare navbar in alto*/
header {
  margin: 40px;
}

.navbar { /*colore di sfondo della barra superiore attualmente rossa */
	background-color: #4169E1;
  	color:#ffffff;
    border:0;
  	border-radius:0;
}
.navbar-nav > li > a {
  	color:#fff; /*colore delle scritte Home, Dicono di noi, Contatti ecc... */
  	padding-left:20px;
  	padding-right:20px;
  	border-left:1px solid #4169E1; /* colore delle stanghette di separazione dei bottoni della barra principale */
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color:#666666; /*colore delle icone quando il mouse ci passa sopra */ 
}
.navbar-nav > li:last-child > a {
  	border-right:1px solid #4169E1; /*colore delle barre di separazione delle icone e delle scritte nella barra superiore */
}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
	background-color:transparent;
}
.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
	color: #f0f0f0; /*colore icone quando pulsante e' cliccato */
	background-color:transparent;
  	opacity:.9;
    border-color:#4169E1;
}

.nav .open > a {
    border-color:#777777;
    border-width:0;
}

.accordion-group {
  font-size: 18px;
	border-width:0;
}

.dropdown-menu {
	min-width: 250px;
}

.accordion-heading .accordion-toggle, .accordion-inner, .nav-stacked li > a {
	padding-left:1px;
}

.caret {
	color:#fff;
}

.navbar-toggle {
	color:#fff;
    border-width:0;
}
  
.navbar-toggle:hover {
	background-color:#fff;
}

.panel {
	padding-left:27px;
    padding-right:27px;
}
/*parte di codice per la scroll bar nella visualizzazione dei documenti*/
.scrollable {
  margin: 0 auto ;
  width: auto;
    padding: 0% 10%;
    position: relative;
    border: 1px solid gray;
    overflow: hidden;
    height: 550px;
    /*height: auto;*/ /*se messo in auto la lunghezza del box risultato si estende per la lunghezza del documento */
}

.scrollable.showScroll::after {
    position: absolute;
    content: '';
    top: 5%;
    right: 7px;
    height: 90%;
    width: 5px;
    background: rgba(224, 224, 255, .3);
}

.scrollable .content-wrapper {
    width: 110%;
    height: 100%;
    padding-right: 2%;
    overflow-y: scroll;
}
.scroller {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    width: 10px;
    border-radius: 5px;
    background: rgb(111, 111, 190);
    top: 0px;
    right: 3px;
    -webkit-transition: top .08s;
    -moz-transition: top .08s;
    -ms-transition: top .08s;
    -o-transition: top .08s;
    transition: top .08s;
}

.colore_autore {
  background: #5C6BC0;
  color: black;
}

.colore_data {
  background: #FFF176;
  color: black;
}

.colore_DOI {
  background: #CE93D8;
  color: black;
}

.colore_titolo {
  background: #9CCC65;
  color: black;
}

.colore_commento {
  background: #A1887F;
  color: black;
}

.colore_retorica {
  background: #E57373;
  color: black;
}

.colore_citazione {
  background: #90A4AE;
  color: black;
}

.colore_url {
  background: #e91e63;
  color: black;
}

input.radio:checked ~ label {
	color: #777;
}
/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}
/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}
input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}
/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

}
/* hide input */
input.radio:empty {
	margin-left: -999px;
}
label#vis_nota {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}
div#divNota {
	clear: both;
	margin: 0 50px;
}
/*codice css per la scrollbar della lista dei gruppi */
div#gruppi{
	width:191px !important;  width /**/:200px;
    height:190px !important; height /**/: 200px;
    padding: 4px;
    border:1px solid #EEE; border-right:0 solid;
    overflow:auto
}
div#doc{
	  width: auto;
    height:250px !important; height /**/: 300px;
    padding: 4px;
    border:1px solid #EEE; border-right:0 solid;
    overflow:auto
}
/*codice per il menu contestuale*/
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: #DEF;
}
.divBottoni { /*div per i bottoni delle barre a scomparsa */
    height: 5px;
}
/*css per i font delle minicard della barra laterale */
span.labello {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: black !important;
}

img {
  max-width: 350px;
  max-height: 350px;
  width: auto;
  height: auto;
  margin: 10px;
  border: 1px solid blue;
  border-radius: 5px;
}
span#modann{
  font-size: 8px;
}

.centralizza {
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  display: flex;
  justify-content: center;
}

.butta_a_destra {
  float: right;
}

.cerchietto {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: 200px;
}

/*span {
  cursor: pointer;
}*/

.legenda {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  float: right;
}
#selectInModal{
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  font-weight: bold;
}




.label_locali {
  margin-top: 20px;
  display: flex;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  top: auto;
  float: left;
}



/*@media only screen and (max-device-width: 480px) {
	.label_locali {
		all:none;
	}
}*/


/*codice di prova per una barra di progresso bellissima ma non in stile anni 80 come piace a stefano */

/* Progress Bar */
/*.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #acece6;
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden; }
  .progress .determinate {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: #26a69a;
    transition: width .3s linear; }
  .progress .indeterminate {
    background-color: #26a69a; }
    .progress .indeterminate:before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
              animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    .progress .indeterminate:after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
              animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
              animation-delay: 1.15s; }

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
    */